<div class="row">
  <div class="col-sm-10 col-sm-offset-1"> 
    <h1 class="page_title"><%= @page %></h1>
    <h2><%= @sorry %></h2>
    <% if @sorry %>
      <a href="/" title="link home">Return to Home page</a>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">    
          <% @movies.each do |movie| %>
            <div class="col-sm-4">
              <h2 class="movie_title"><a href="/movie/<%= movie.friendly_url %>" title="link to <%= movie.title %>"><%= movie.title %></a></h2>
              <img src="<%= movie.picture %>" alt="Picture of <%= movie.title %>" class="movie_img_format">
              <!-- only show average if there are user review scores -->
              <% if movie.reviews.average(:score) %>
                <!-- average review, cut off at one decimal -->
                <p>User Average Review: <%= movie.reviews.average(:score).to_s.slice(0..2) %>/5 <span class="glyphicon glyphicon-star"></span></p>
              <% else %>
                <p>No User Review Scores Yet</p>
              <% end %>
              <p><%= movie.description %></p>
              <!-- ADMIN only edit/destroy -->
              <% if current_user && current_user.is_admin %>
                <%= link_to 'Edit', edit_movie_path(movie) %> | <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          <% end %>
      <br>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 shift-paginate">  
      <%= will_paginate @movies %>
    </div>
  </div>
