<div class="row">
  <div class="col-md-8 col-md-offset-2"> 
    <div>
      <h1><%= @movie.title %></h1>
      <img src="<%= @movie.picture %>" alt="Picture of <%= @movie.title %>" class="show_movie_img">
      <!-- only show average if there are user review scores -->
      <% if @movie.reviews.average(:score) %>
        <!-- average review, cut off at one decimal -->
        <p><strong>User Average Review: <%= @movie.reviews.average(:score).to_s.slice(0..2) %>/5</strong></p>
      <% else %>
        <p>No User Review Scores Yet</p>
      <% end %>
      <p><%= @movie.description %></p>
      <!-- if no reviews, encourage review -->
      <% if @movie.reviews.empty? %>
        <p>Be the first to review this movie!</p>
      <% else %>
        <div>
          <% @movie.reviews.each do |review| %>
          <div>
            <p><%= review.user.username %> rates this a: <strong><%= review.score %>/5</strong></p>
            <p><%= review.comment %></p>   
          </div>
          <% end %>
        </div>
      <% end %>
      <% if current_user %>
      <!-- TODO maybe show hidden div with form -->
        <a href="/review/new/<%= @movie.id %>" class="btn btn-info review_button" role="button">Review this Movie!</a>
      <% else %>
      <p><a href="/users/new" title="sign_up_link">Sign Up</a> to review!</p>
      <% end %>
    </div>
    <% if current_user && current_user.is_admin %>
      <%= link_to 'Edit', edit_movie_path(@movie) %> | <%= link_to 'Destroy', @movie, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <% end %>
    <%= link_to 'Back', movies_path %>
  </div>
</div>              