<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li class="black"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, placeholder: 'Required' %>
  </div>  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, placeholder: 'Required'  %>
  </div>  
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password, placeholder: 'Required'  %>
  </div> 
  <div class="field">
    <%= f.label :picture %> (Leave blank if Gravatar)<br>
    <%= f.text_field :picture, placeholder: 'Picture URL' %>
  </div> 
  <div class="actions black">
    <%= f.submit %>
  </div>
<% end %>
