<!DOCTYPE html>
<html>
  <head>
    <title>MovieDB</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
  <div>
  <!-- Sign in or Sign up, if already logged in, welcomes user -->
    <% if current_user %>
      <%= "Welcome "+ user.username +" !"%>
      <a id="logout" href="/logout">Logout</a>
    <% else %>
      <%= "You must be signed in to post reviews!"%>
      <a id="new" href="/new">Sign Up Free!</a> |
      <a id="login" href="/login">Sign In</a>
    <% end %>
  </div>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
  </body>
</html>
