<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>Title: <%= review.movie.title %></td>
        <td class="<% if review.user.is_admin %><%= "admin" %><% end %>">User: <%= review.user.username %></td>
        <td>Score: <%= review.score %></span></td>
        <td> <%= review.comment %></td>
        <td><%= link_to 'Show', review %></td>
        <% if current_user && current_user.is_admin %>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h4><span class="glyphicon glyphicon-chevron-left"></span><%= link_to 'Back', reviews_path %></h4>