<div class="row">
  <div class="col-md-8 col-md-offset-2"> 
    <h1><%= @movie.title %> Review</h1>
    <%= form_for(@review) do |f| %>
      <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

          <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li class="black"><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :score %><br>
          <%= f.radio_button :score, 1 %>
          <span class="glyphicon glyphicon-star"></span>
          <%= f.radio_button :score, 2 %>
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
          <%= f.radio_button :score, 3 %>
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
          <%= f.radio_button :score, 4 %>
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
          <%= f.radio_button :score, 5 %>
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
      </div>  
      <div class="field">
        <%= f.label :comment %><br>
        <%= f.text_field :comment  %>
      </div>
      <div class="field" hidden>
        <%= f.text_field :user_id, value: current_user.id %>
      </div>  
      <div class="field" hidden>
        <%= f.text_field :movie_id, value: @movie.id %>
      </div>
      <div class="actions black">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div><br>
<h4><span class="glyphicon glyphicon-chevron-left"></span><a href="/movies/<%= @movie.id %>" title="link back to movie">Back</a></h4>