<p id="notice"><%= notice %></p>
<h4><a href="/users/<%= @review.user.id %>" title="link to user"><%= @review.user.username %></a></h4>
<h5>Review for: <%= @review.movie.title %></h5>
<p><strong><%= @review.score %>/5 </strong><span class="glyphicon glyphicon-star"></span></p>
<p><%= @review.comment %></p>
<% if current_user %>
<!-- only the user who this is and the admins can edit the user -->
  <% if @review.user_id == current_user.id || current_user.is_admin %>
   <%= link_to 'Edit', edit_review_path(@review) %>
  <% end %>
<% end %> 
<br><br> 
<!-- changed this to link back to move, removed hyperlink from title -->
<h4><span class="glyphicon glyphicon-chevron-left"></span><a href="/movies/<%= @review.movie.id %>" title="Back to Movie">Back to Movie</a></h4>